[include]
    path = ~/.config/git/delta

[include]
    path = ~/.config/git/localconfig
[init]
	defaultBranch = main
[credential]
	helper = /usr/bin/git-credential-manager
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
